body {
	background-color: #7f8c8d;
}
.mainHeading {
	background-color: #2ecc71;
	width: 35vw;
	margin-top: 1rem;
	margin: auto;
}
.headerContent {
	font-family: sans-serif;
	font-size: 22px;
	padding: 9rem 0rem 1rem 1rem;
	color: #ecf0f1;
	font-weight: bold;
	margin-bottom: 0px;
}
.navigation {
	background-color: #34495e;
	width: 35vw;
	margin-top: 0;
	margin: auto;
	text-align: right;
	
}
.navBarLinks {
	display: inline-block;
	color: #ecf0f1;
	font-size: 12px;
	text-decoration: none;
	padding: 1rem;

}

.mainArticle {
	height: 100%;
	width: 35vw;
	margin: auto;
	background-color: #ecf0f1;
}
.articleTitle {
	font-size: 18px;
}
.headingPads {
	padding: 2rem 0rem 0rem 1rem;
}
.para {
	font-size: 12px;
	padding:  0rem 2.5rem 0rem 2.5rem;
	line-height: 1.5;
}

.bold {
	font-weight: bold;
}

.color {
	color: orangered;
}
.sectionHead {
	font-size: 14px;
	border-bottom: 1px solid #CFCFCF;
	margin-left: 1rem;
	margin-right: 1rem;
}

.grayBox {
	background-color: #bdc3c7;
	margin: 1rem;
	font-size: 12px;
	padding: .5rem 0rem .25rem 1.5rem;
	text-align: left;
}
.placeHolder {
	
}
.placeHolder.one {
	height: 100px;
	width: 30vw;
	margin: auto;
	background: url(http://placehold.it/350x150) 0 0;
}
.mainTable {
	margin: .5rem 1.5rem .5rem 1.5rem;
	font-size: 12px;
	table-layout: fixed;


}
.mainTable th {
	border: 1px solid #CFCFCF;
	background-color: #BFBFBF;
	padding: .5rem;
	

}
.mainTable td {
	border: 1px solid #CFCFCF;

}
.firstCell {
	width: 3rem;

}
.secondCell {
	width: 17rem;
	text-align: left;
	padding: .5rem;
}
.thirdCell {
	width: 5rem;
}
.textCenter {
	text-align: center;
	vertical-align: middle;
}
.tableButton {
	padding: .5rem 1rem .5rem 1rem;
	background: #53B4F5;
	color: white;
	border: none;
}
.list {
	padding: 0rem 2.5rem 0rem 0rem;
	font-size: 12px;
	margin-left: 1rem;
	margin-bottom: .5rem;
	line-height: 1.5;
}
.lightText {
	color: #A6A6A6;
	
}
.commentHeading {
	margin-left: 1rem;
}
.fancy {
	line-height: .5;
	font-size: 12px;
}
.fancy span {
	display: inline-block;
	position: relative;
}
fieldset.fancy  {
  	border-top: 1px solid #A6A6A6;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: left;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
fieldset.fancy legend {
	padding: 5px 10px;
	margin-left: 1rem;
}
.form1 {
	margin: 2rem;
  
}
label {
	display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 12px;
}
.textBox {
	margin-bottom: .5rem;
}
textarea {
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.buttonType2 {
	
}

